body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: rgb(174, 174, 174)  ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
